header {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    width: 100%;
    height: 100vh;
}

.mega {
    background-color: #008080;
    border: none;
    color: white;
    padding: 10px 25px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.images {
  position: relative;
  top: 50px;
  left: 755px;
  width: 200px;
  overflow: hidden;
}


.images img {
  width: 100%;
  display: block;
}


.overlay .text {
  color: white;
  text-align: center;
}


.overlay button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background: teal;
  color: white;
  cursor: pointer;
}


.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateY(100%);
  transition: transform 0.4s ease;
}


.images:hover .overlay {
  transform: translateY(0);
}

.mega:hover {
    background-color: gray;
    cursor: pointer;
    transition: 0.35s ease;
}

.overlay button:hover {
    cursor: pointer;
    background-color: gray;
    transition: 0.3s ease ;
}

a {
    text-decoration: none;
    color: black;
}

.item {
    position: relative;
}

.item:hover:before {
    transform: scaleX(1);
    transition: 0.3s;
}

.item:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: teal;
    transform-origin: left;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scale(0);
}



